flask==3.0.0
flask-cors==4.0.0
cx-Oracle==8.3.0
langchain==0.3.0
langchain-openai==0.2.0
langchain-chroma==0.1.4
langchain-huggingface==0.1.0
langchain-community==0.3.0
bcrypt==4.2.0
chromadb==0.5.0
sentence-transformers==3.0.0

gunicorn==21.2.0
